# Django
*.log
*.pot
*.pyc
__pycache__/
chakshu_ai/patient/__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# Node
node_modules/
npm-debug.log*

# Test coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Misc
.DS_Store
Thumbs.db

# Model weights
model_weights/
chakshu_ai/analysis/model/__pycache__/models.cpython-38.pyc

# static files
chakshu_ai/staticfiles/
chakshu_ai/analysis/model/__pycache__/models.cpython-38.pyc
chakshu_ai/analysis/model/__pycache__/models.cpython-38.pyc
